p{
font-size: x-large;
}

h1{
    background-color: rgb(57, 12, 219);
    text-align: center;
}

.aluno{
    color: chartreuse;
    text-shadow: 2ex;
}

#curso{
    text-align: center;
}
.Catedral{
    width: 400px;
    height: 300px;
    border-radius: 50px;
}
.Congresso{
    width: 400px;
    height: 300px;
    border-radius: 50px;
}
.flex-container{
margin: 0;
padding: 0;
display: flex;
list-style: none;
}
.flex-item{
background-color: chartreuse;
height: 50px;
width: 50px;
line-height: 50px;
font-size: x-large;
color: blueviolet;
margin: 5px;
}
.linha{
flex-direction: row;
}
aluna-reversa{
    float: left;
    flex-direction: column-reverse;
}