p {
    font-size: x-large;
}

h1 {
    background-color: #614D62;
    text-align: center;
    color: white;
}

h2 {
    background-color: #614D62;
    color: white;
}

body {
    background-color: #97B7E8;
}

#Local {
    text-align: center;
    background-color: #614D62;
    font-size: xx-large;
    color: white;
    font-weight: bold;
}

.Catedral {
    width: 860px;
    height: 400px;
    border-radius: 50px;
}

.Congresso {
    width: 800px;
    height: 400px;
    border-radius: 50px;
}   

.flex-container {
    margin: 0;
    padding: 0;
    display: flex;
}

.flex-item {
    width: 45%;
}

.linha {
    flex-direction: row;
    justify-content: space-between;
}

.coluna {
    float: left;
    flex-direction: column;
}

.aluna-reversa {
    float: left;
    flex-direction: column-reverse;
}

.Setadireita {
    width: 700px;
    height: 300px;
    border-radius: 50px;
    filter: alpha(opacity=40);

}

.Setaesquerda {
    width: 900px;
    height: 550px;
    border-radius: 50px;

}