p {
    font-size: x-large;
}

h1 {
    background-color: rgb(57, 12, 219);
    text-align: center;
}

.aluno {
    color: chartreuse;
    text-shadow: 2ex;
}

#curso {
    text-align: center;
}

.Catedral {
    width: 400px;
    height: 300px;
    border-radius: 50px;
}

.Congresso {
    width: 600px;
    height: 400px;
    border-radius: 50px;
}

.flex-container {
    margin: 0;
    padding: 0;
    display: flex;
}

.flex-item {
    width: 45%;
}

.linha {
    flex-direction: row;
    justify-content: space-between;
}

.coluna {
    float: left;
    flex-direction: column;
}

.aluna-reversa {
    float: left;
    flex-direction: column-reverse;
}
.Seta{
    width: 700px;
    height: 300px;
    border-radius: 50px;
}